.container {
	margin: 15px auto;
}

.open>.dropdown-menu {
    display: block;
}

.collapse.in {
	display: block;
}

.thumbnail {
	width: 100%;
}

.pagination-links {
	margin: 30px 0;
}

.pagination-links strong {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #cccccc solid;
}

a.pagination-link {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #cccccc solid;
}

